# ======================
# Entornos virtuales
# ======================
fuel_analysis/
venv/
.venv/

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Sistema
# ======================
.DS_Store
Thumbs.db
fuel_analysis.code-workspace